/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* --- */

/* fonts */
@font-face {
    font-family: 'pacifico';
    src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* --- */

:root {
    --pastel-red: #C23B22;
}

body {
    background: url('./home-background.jpg') rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    color: white;
    background-blend-mode: multiply;
    font-family: 'Montserrat', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    width: 100%;
    height: 100%;
}

/* nav */
header {
    text-align: center;
    height: 10vh;
}

nav {
    padding: 2rem 2rem;
}

.nav-button {
    border: none;
    background: none;
    color: white;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.nav-button:hover {
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.nav-button:active {
    font-weight: normal;
    border-bottom: none;
    padding-bottom: 0rem;
}

.active-page {
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

/* home page */
.home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    font-family: 'pacifico';
}

.home p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#order-now {
    background-color: white;
    color: var(--pastel-red);
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    font-family: 'pacifico';
    cursor: pointer;
}

#order-now:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .8), inset -1px -1px 1px rgba(255, 255, 255, .4);
}

/* --- */

/* menu */

.menuContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
}

.menuHeadings {
    grid-column: -1/1;
    text-align: center;
    margin-top: 1rem;
}

.card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    color: black;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h3 {
    font-size: 1.6em;
}

.card p {
    font-size: 1em;
}

.priceButton {
    align-self: end;
    padding: 5px 10px;
    background-color: var(--pastel-red);
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    color: transparent;
    text-shadow: 0 0 0 white;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.priceButton:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .8), inset -1px -1px 1px rgba(255, 255, 255, .4);
}

/* --- */

/* about */

.aboutContent {
    min-height: 90vh;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    font-size: 4em;
    font-family: 'pacifico';
    margin: 1rem 0;
}

.aboutDescription {
    width: 80%;
    background-color: hsla(0, 0%, 0%, 0.75);
    padding: 1rem;
    border-radius: 20px;
}

/* --- */

/* contact */

.contactWrapper {
    padding: 1rem;
}

.contactTitle {
    font-size: 2em;
    font-family: 'pacifico';
    margin-bottom: 1rem;
}

.howWrapper,
.whenWrapper {
    background-color: hsla(0, 0%, 0%, 0.75);
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

/* -- */

/* footer */

.footer {
    height: 5vh;
    background-color: hsla(0, 0%, 0%, 0.75);
    font-size: 0.8em;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- */

/* desktop */

@media only screen and (min-width: 700px) {
    .contactWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 100px;
    }

h1{
    font-size: 7rem;
    margin-bottom: 1rem;
    font-family: 'pacifico';

}
}

/* --- */